{% if site.author.links %}
<ul class="social-icons">
  {% for link in site.author.links %}
    <li>
      {% assign svg_path = '_includes/icons/' | append: link.icon | append: '.svg' %}
      {% if link.icon and (svg_path | file_exists) %}
        <a href="{{ link.url }}" title="{{ link.label }}" target="_blank" rel="noopener">
          {% include icons/{{ link.icon }}.svg %}
        </a>
      {% else %}
        <a href="{{ link.url }}" title="{{ link.label }}" target="_blank" rel="noopener">
          <i class="{{ link.icon }}"></i>
        </a>
      {% endif %}
    </li>
  {% endfor %}
</ul>
{% endif %}
